@charset "utf-8";

.abc{
    color: red;
}

h1.headline{
    color: blue;
}

.abc .def,
.ghi,
.jkl{
    color: green;
}

.abc > .def + p{
    background-color: violet;
}

.abc > .jkl:hover{
    color: orange;
}